---
# For security reasons, the workflow in which the autofix.ci action is used must be named "autofix.ci".
name: "autofix.ci"

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  prettier:
    name: "prettier"
    runs-on: "ubuntu-latest"
    env:
      S3_CREDENTIALS: >-
        ${{ format('{{"endpoint": "{0}", "access_key": "{1}", "secret_key": "{2}", "bucket_name": "{3}"}}',
        secrets.OVH_GHA_CACHE_ENDPOINT, vars.OVH_GHA_CACHE_USER_SECRET_ID, secrets.OVH_GHA_CACHE_USER_SECRET, secrets.OVH_GHA_CACHE_BUCKET_NAME) }}
    steps:
      - uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6.0.1

      - uses: "bckground/actions/setup-mise@main"
        with:
          s3_credentials: "${{ env.S3_CREDENTIALS }}"

      - name: "Run prettier"
        run: |
          prettier --config .prettierrc.yml --write "**/*.{yml,yaml,md,markdown,json,jsonc}"

      - name: "Run autofix"
        uses: "autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27"
